  <div class='single-card'>
    <ul>
    <%= link_to listing_path(listing), data: { no_turbolink: true } do %>
       <li><%= image_tag listing.thumbnail %></li>
       <li><h3> <%= listing.name %></h3></li>
      <li>$<%= listing.price %>/month</li>
      <li><%= listing.location %></li>
      <br>
      <% unless can? :manage, listing %>
        <% if current_user %>
          <% unless current_user.favourite_listings.exists?(listing.id) %>
            <li class="favourite-link"><%= link_to 'Add to favourites', favourite_listing_path(listing.id), method: :post %></li>
          <% else %>
            <li class="unfavourite-link"><%= link_to 'Remove from favourites', unfavourite_listing_path(listing.id), method: :delete %></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  </div>
