  <div class='single-listing'>
    <%= link_to listing_path(listing), data: { no_turbolink: true } do %>
      <%= listing.name %>
      <br><%= image_tag listing.thumbnail %>
      <br>$<%= listing.price %>
      <br><%= listing.location %>
      <% unless can? :manage, listing %>
        <% if current_user %>
          <% unless current_user.favourite_listings.exists?(listing.id) %>
            <br><%= link_to 'Add to favorites', favourite_listing_path(listing.id), method: :post %></td>
          <% else %>
            <br><%= link_to 'Remove from favorites', unfavourite_listing_path(listing.id), method: :delete %></td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
