<h1>Listings</h1>

<%= button_tag 'Listings Near Me', id: 'search-nearby' %>

<div class="searchbar">
  <%= form_tag listings_path, method: :get, authentification: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>


<div class="listing">
<%= render @listings %>
</div>
