

  <div class="search-listings">
    <h1>Listings</h1>

    <%= button_tag 'Listings Near Me', id: 'search-nearby' %>
  <br>
  <br>
    <%= search_form_for @q, url: search_listings_path,
                            html: { method: :post } do |f| %>
      <%= f.label :name_or_location_cont, "Search Listings" %>
      <%= f.text_field :name_or_location_cont %>
      <%= f.submit %>
    <% end %><br>
  </div>

<div id="map-index" data-latitude='43.7' data-longitude='-79.4' ></div>


  <div class="index-cards">

    <small><%= page_entries_info @listings %></small>
  <%= render @listings %>

<%= javascript_tag do %>
  window.nearby = <%= raw @listings.map {|n| {lat: n.latitude, lng: n.longitude, name: n.name, desc: n.description, price: n.price, bedrooms: n.bedrooms, date: n.rent_date, id: n.id}}.to_json %>;
<% end %>

<%= paginate @listings %>
</div>
