<h1>Listings</h1>

<%= button_tag 'Listings Near Me', id: 'search-nearby' %>

<%= search_form_for @q, url: search_listings_path,
                        html: { method: :post } do |f| %><br>
  <%= f.label :name_cont, "Search Listings" %><br>
  <%= f.text_field :name_cont %><br>
<!--put in search submit here for simple search -->

<!-- nest advanced search -->

  <h4>Advanced Search</h4>

  <%= f.label :price_gteq, "Minimum Price" %><br>
  <%= f.text_field :price_gteq %><br>

  <%= f.label :price_lteq, "Maximum Price" %><br>
  <%= f.text_field :price_lteq %><br>
<br>
  <%= f.label :location_cont, "Address, Neighbourhood or City" %><br>
  <%= f.text_field :location_cont %><br>
<br>
  <%= f.label :bedrooms_gteq, "Minimum Number of bedrooms" %><br>
  <%= f.text_field :bedrooms_gteq %><br><br>

  <%= f.submit %>
<% end %>

<small><%= page_entries_info @listings %></small>

 <table class="listings_list">
   <th>Sort by:</th>
   <th><%= sort_link @q, :name, 'Name' %></th>
   <th><%= sort_link @q, :price, 'Price' %></th>
 </table>
<div id="map-show"  ></div>

<div class="listing">
  <%= render @listings %>
</div>

<%= javascript_tag do %>
  window.listings = <%= raw @listings.map {|n| {lat: n.latitude, lng: n.longitude}}.to_json %>;
<% end %>

<%= paginate @listings %>
