<div id="listing-form">

  <%= form_for @listing do |f| %>
    <div class="field">
      <%= f.label :name, "Title" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description, "Information" %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :location, "Address (or area)" %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.fields_for :image do |img| %>
        <%= render 'image_fields', f: img %>
      <% end %>
        <%# link_to_add_association "Add Another Photo", f, :image %>
    </div>
    <div class="action">
      <%= f.submit "Submit Listing" %>
    </div>
  <% end %>
</div>
