<div id="listing-form">

  <%= form_for @listing do |f| %>
    <div class="field">
      <%= f.label :name, "Title" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description, "Information" %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :location, "Address (or area)" %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      

    </div>
    <div class="action">
      <%= f.submit "Submit Listing" %>
    </div>
</div>

t.string   "name"
t.text     "description"
t.string   "location"
t.integer  "user_id"
t.datetime "created_at",  null: false
t.datetime "updated_at",  null: false
