<h1>All Listings</h1>
<div class="nav">
  <%= link_to 'Add a New Listing', new_listing_path %><br>
  <br>
</div>

<div class="searchbar">
  <%= form_tag listings_path, method: :get, authentification: false, id: 'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<% @listings.each do |list| %>
  <div class="listing">
    <%= link_to listing_path(list) do %>
      <br><%= list.name %>
      <br><%= image_tag list.images[0].photo.thumb %>
      <br><%= list.location %>
    <% end %>
  </div>
<% end %>
