<div class="nav">
  <br>
  <%= link_to 'Add a New Listing', new_listing_path %><br>
</div>
<h1><%= @listing.name %></h1>
<div class="info">
  <% @listing.images.each do |p|%>
    <%= image_tag p.photo %>
  <% end %>
  <%= @listing.name %><br>
</div>
<div class="about_me">
  <%= @listing.description %>
</div>

<hr>
<h4>User Comments</h4>
<div class="new comment">
  <%= render :partial => 'comments/comment_form' %>
</div>
<hr>
<% @listing.comments.each do |c| %>
  <div class="show comment">
    <b><%= c.user.name %> says: </b><br>
    <%= c.body %><br>
    <%= c.created_at.to_formatted_s(:long) %>
    <hr>
  </div>
<% end %>
