<div class="nav">
  <br>
</div>
<h1><%= @listing.name %></h1>
<div class="info">
  <% @listing.images.each do |p|%>
    <%= image_tag p.photo, alt: "listing picture"%><br>
  <% end %>
  <%= @listing.location %>
</div>
<div class="about_me">
  <%= @listing.description %>
</div>
<hr>
<div class="nearby">
  <h2>Nearby Listings</h2>
  <% @nearby_listings.each do |list| %>
    <%= link_to listing_path(list) do %>
    <br><strong><%= list.name %></strong>
    <br><%= image_tag list.images[0].photo.thumb %>
    <% end %>
    <br><%= list.display_distance_in_meters(@listing) %> m away
  <% end %>
</div>

<hr>
<h4>User Comments</h4>
<%= render 'comments' %>
