<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :invite_code, "Please enter your invite code" %>
    <%= f.text_field :invite_code %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %><br>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %><br>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :about_me, 'About Me!' %>
    <%= f.text_area :about_me %><br>
  </div>
  <div class="field">
    <%= f.label :tag_list, 'Add tags, seprated by a comma' %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.file_field :avatar %><br>
  </div>
  <div class="action">
   <%= f.submit %><br>
  </div>

  <% end %>
