
<% f.fields_for :external_links do |l| %>
<div class="field">
  <%= l.label :email_link %>
  <%= l.email_field  :email_link %>
</div>
<div class="field">
  <%= l.label :facebook %>
  <%= l.url_field :facebook %>
</div>
<div class="field">
  <%= l.label :twitter %>
  <%= l.url_field :twitter %>
</div>
<div class="field">
  <%= l.label :instagram %>
  <%= l.url_field :instagram %>
</div>
<div class="field">
  <%= l.label :website %>
  <%= l.url_field :website %>
</div>
<% end %>
