
<% f.fields_for :external_links do |l| %>
<div class="field">
  <%= l.label :email_link %>
  <%= l.email_field  :email_link %>
</div>
<div class="field">
  <%= l.label :facebook %>
  <%= l.url_field :facebook %>
</div>
<div class="field">
  <%= l.label :twitter %>
  <%= l.url_field :twitter %>
</div>
<div class="field">
  <%= l.label :instagram %>
  <%= l.url_field :instagram %>
</div>
<div class="field">
  <%= l.label :website %>
  <%= l.url_field :website %>
</div>
<% end %>


<div class="field">
  <%= f.label :external_links[:email_link] %>
  <%= f.email_field external_links[:email_link] %>
</div>
<div class="field">
  <%= f.label :external_links => [:facebook] %>
  <%= f.url_field :external_links[:facebook] %>
</div>
<div class="field">
  <%= f.label :external_links[:twitter] %>
  <%= f.url_field :external_links[:twitter] %>
</div>
<div class="field">
  <%= f.label :external_links[:instagram] %>
  <%= f.url_field :external_links[:instagram] %>
</div>
<div class="field">
  <%= f.label :external_links[:website] %>
  <%= f.url_field :external_links[:website] %>
</div>
<%# if params[:action] == :edit %>

    <%#= render 'more_profile' %>

<%# end %>
