<div class='single-user'>
      <%= link_to user_path(user) do %>
     <li><%= image_tag user.avatar.thumb %></li>
      <li><%=user.name%></li>
       <% end %>
       <div class="tag-list">
         <%= user.tag_list %>
       </div>
        <% if current_user %>
         <% unless can? :manage, user %>
           <% unless current_user.favourite_users.exists?(user.id) %>
            <li><%= link_to 'Add to favorites', favourite_user_path(user.id), method: :post %></li>
           <% else %>
             <li><%= link_to 'Remove from favorites', unfavourite_user_path(user.id), method: :delete %></li>
           <% end %>
         <% end %>
         <% end %>
  </div>
