<h1>Everyone</h1>
<%= render 'random' %><br>

  <%= search_form_for @q do |f| %>
    <%= f.label :name_or_tags_name_cont, "Search by name or tags" %>
    <%= f.search_field :name_or_tags_name_cont %><br>

    <%= f.submit %>
  <% end %>

<table class="user_list">
  <th> </th>
  <th><%#= sort_link(@search, :name, 'Name') %>Name</th>
  <th> User Tags </th>
  <div class="user">
    <%= render @users %>
  </div>
</table>
