<% if current_user %>
  <% unless current_user.favourite_users.exists?(id: @user.id) %>
    <%= link_to 'Add to favorites', favourite_user_path(user_id: @user), method: :post %>
  <% else %>
    <%= link_to 'Remove from favorites', unfavourite_user_path(@user), method: :delete %>
  <% end %>
<% end %>

<h1><%= @user.name %></h1>
<% if current_user %>
<%= link_to "Send me a message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%><br>
<% end %>
<div class="info">
  <% if current_user && current_user.id == @user.id %>
    <%= link_to "Edit Profile", edit_user_path(@user) %><br>
  <% end %>

  <%= link_to image_url @user.avatar.thumb do %>
  <%= image_tag @user.avatar.thumb, class:"profile_pic", alt:"Profile picture thumbnail" %><br>
  <% end %>
</div>

<div class="description">
  <%= @user.about_me %><br>
</div>
<div class="tags">
  <h4>Tags:</h4>
  <%= @user.tag_list %>
</div>
<% if @user.external_links %>
<%= link_to "Email", @user.external_links[:email_link], :target => "_blank" %>
<%= link_to "Facebook", "#{:facebook}", :target => "_blank" %>
<%= link_to "Twitter", "#{:twitter}", :target => "_blank" %>
<%= link_to "Instagram", "#{:instagram}", :target => "_blank" %>
<%= link_to "Personal Website", "#{:website}", :target => "_blank" %>
<% end %>

<hr>
<div class="user-listings">
  <%= @user.name %>'s Listings
  <% @user.listings.each do |list| %>
  <div class='single-listing'>
    <%= link_to listing_path(list) do %>
      <br><%= list.name %>
      <br><%= image_tag list.thumbnail %>
      <br><%= list.location %>
    <% end %>
  </div>
  <% end %>
</div>



<hr>
<h4>User Comments</h4>
<%= render 'comments' %>
