<% if current_user %>
  <% unless current_user.favourite_users.exists?(id: @user.id) %>
    <%= link_to 'Add to favorites', favourite_user_path(user_id: @user), method: :post %>
  <% else %>
    <%= link_to 'Remove from favorites', unfavourite_user_path(@user), method: :delete %>
  <% end %>
<% end %>

<h1>Profile for <%= @user.name %></h1>
<div class="info">
  <%= @user.name %><br>
  <% if current_user && current_user.id == @user.id %>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% end %>

  <%= link_to image_url @user.avatar.thumb do %>
  <%= image_tag @user.avatar.thumb, class:"profile_pic", alt:"Profile picture thumbnail" %><br>
  <% end %>
</div>

<div class="description">
  <%= @user.about_me %><br>
</div>
<div class="tags">
  <h4>Identifier tags:</h4>
  <%= @user.tag_list %>
</div>

<hr>
<div class="user-listings">
  <%= @user.name %>'s Listings
  <% @user.listings.each do |list| %>
  <div class='single-listing'>
    <%= link_to listing_path(list) do %>
      <br><%= list.name %>
      <br><%= image_tag list.thumbnail %>
      <br><%= list.location %>
    <% end %>
  </div>
  <% end %>
</div>



<hr>
<h4>User Comments</h4>
<%= render 'comments' %>
