<h1><%= @user.name %></h1>

<% if can? :manage, @user %>
  <%= link_to "Edit My Profile", edit_user_path(@user) %>
<% end %>

<% unless can? :manage, @user %>
  <% unless current_user.favourite_users.exists?(id: @user.id) %>
    <%= link_to 'Add to favorites', favourite_user_path(user_id: @user), method: :post %>
  <% else %>
    <%= link_to 'Remove from favorites', unfavourite_user_path(@user), method: :delete %>
  <% end %><br>

  <%= link_to "Send me a message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%><br>
<% end %>

<div class="info">
  <%= link_to image_url @user.avatar do %>
  <%= image_tag @user.avatar.thumb, class:"profile_pic", alt:"Profile picture thumbnail" %><br>
  <% end %>
</div>

<div class="description">
  <%= @user.about_me %><br>
</div>
<div class="tags">
  <h4>Tags:</h4>
  <%= @user.tag_list %>
</div>

<hr>
<div class="user-listings">
  <%= @user.name %>'s Listings
  <% @user.listings.each do |list| %>
  <div class='single-listing'>
    <%= link_to listing_path(list) do %>
      <br><%= list.name %>
      <br><%= image_tag list.thumbnail %>
      <br><%= list.location %>
    <% end %>
  </div>
  <% end %>
</div>

<hr>
<h4>User Comments</h4>
<%= render 'comments' %>

<% if can? :manage, @user %>
<strong>My unique invite code:</strong> <%= @user.token %>
<%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account? This cannot be undone!"} %><br>
<% end %>
