<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %><br>
  </div>
  <div class="field">
    <%= f.label :about_me, 'About Me!' %>
    <%= f.text_area :about_me %><br>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_area :password %><br>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.text_area :password_confirmation %><br>
  </div>
    <%= f.fields_for :image do |img| %>
      <%= img.file_field :image %><br><br>
    <% end %>


  <%= f.submit %><br>
  <% end %>
