<h1>Profile for <%= @user.name %></h1>
<div class="info">
  <%= @user.name %><br>
  <%= link_to image_url @user.avatar do %>
  <%= image_tag @user.avatar.thumb, class:"profile_pic", alt:"Profile picture thumbnail" %><br>
  <% end %>
</div>

<div class="description">
  <%= @user.about_me %><br>
</div>

<hr>
<h4>User Comments</h4>
<%= render 'comments' %>
