<!DOCTYPE html>
<html>
<head>
  <title>H4q</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="navcontainer">
    <% if current_user %>
    <ul class="top-left-menu">
      <li>Logged in as</li>
      <li><%= link_to current_user.name, user_path(current_user) %></li>
      <li><%= link_to 'Logout', :logout, method: :post %></li>
    </ul>
    <ul class="top-right-menu">
      <li><%= link_to 'Inbox', conversations_path %>
        <li><%= link_to 'My Favourites', user_favourites_path(current_user) %></li>
        <li><%= link_to 'Listings', listings_path %></li>
        <li><%= link_to 'Add a listing', new_listing_path  %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
      <% else %>
      <ul class="top-right-menu">
        <li><%= link_to 'Register', new_user_path %></li>
        <li><%= link_to 'Login', :login %></li>
      </ul>
      <% end %>
    </div>

<header class="site-header">
  <%= image_tag("/H4qlogo_long.png") %>
</header>

<div>
   <p id="notice"><%= flash[:notice] %></p>
   <p id="alert"><%= flash[:alert] %></p>
 </div>


<%= yield %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC49SZwfsHvdzEkLGZJClMzXunKm4kZ5YQ" %>
</body>
</html>
